@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

@model IEnumerable<MovieCollection_413_1_ZachDaniels.Models.AddMovie>

<div class="container-fluid">
    <h2>Current Movies in the list</h2>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Rating</th>
                    <th>Edited</th>
                    <th>Lent To</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MovieCollection_413_1_ZachDaniels.Models.AddMovie x in Model.Where(n => n.Title != "Independence Day")) //
                {
                    <tr>
                        <td>@x.Category</td>
                        <td>@x.Title</td>
                        <td>@x.Year</td>
                        <td>@x.Director</td>
                        <td>@x.Rating</td>
                        <td>@x.Edited</td>
                        <td>@x.LentTo</td>
                        <td>@x.Notes</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>